<section class="feetback">
  <app-header></app-header>
  <h1>
    {{ 'feedback-about-trainee' | translate }} {{ mockIntern.firstName }} {{ mockIntern.lastName }}
  </h1>
  <!-- имя стажера получить из таблицы стажеров -->
  <form [formGroup]="form">
    @if (formType === 'first') {
      <!-- добавить роль 'Интервьюер' -->
      @if (role === 'Интервьюер') {
        <mat-form-field>
          <mat-label>{{ 'feedback-fields.fundamental-level' | translate }}</mat-label>
          <input matInput formControlName="fundamentalLevel" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ 'feedback-fields.trainee-level' | translate }}</mat-label>
          <input matInput formControlName="traineeLevel" />
        </mat-form-field>
      }

      @if (role === 'HR') {
        <mat-form-field>
          <mat-label>{{ 'feedback-fields.english-level' | translate }}</mat-label>
          <input matInput formControlName="englishLevel" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>{{ 'feedback-fields.personals' | translate }}</mat-label>
          <input matInput formControlName="personals" />
        </mat-form-field>
      }
    }

    @if (formType === 'finish') {
      <!-- кто может оставлять итоговый отзыв -->
      @if (role === 'Ментор') {
        <mat-form-field>
          <mat-label>{{ 'feedback-fields.finish-level' | translate }}</mat-label>
          <input matInput formControlName="finishLevel" />
        </mat-form-field>

        <mat-form-field>
          <mat-label
            >{{ 'feedback-fields.date-start' | translate }} -
            {{ 'feedback-fields.date-finish' | translate }}</mat-label
          >
          <mat-date-range-input [rangePicker]="picker">
            <input
              matStartDate
              placeholder="{{ 'feedback-fields.date-start' | translate }}"
              formControlName="dateStart"
            />
            <input
              matEndDate
              placeholder="{{ 'feedback-fields.date-finish' | translate }}"
              formControlName="dateFinish"
            />
          </mat-date-range-input>
          <mat-hint>MMMM DD, YYYY – MMMM DD, YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      }
    }

    @if (role === 'Интервьюер' || role === 'HR' || role === 'Ментор') {
      <mat-form-field>
        <mat-label>{{ 'feedback-fields.add-comments' | translate }}</mat-label>
        <textarea matInput formControlName="addComments"></textarea>
      </mat-form-field>

      <p class="forError">
        @if (form.invalid && form.dirty) {
          <mat-error>{{ 'errors.one-required' | translate }}</mat-error>
        }
      </p>

      <div class="example-button-row">
        <button matButton="tonal" [disabled]="!form.valid" (click)="saveFeedback()">
          {{ 'button.save-feedback' | translate }}
        </button>
      </div>
    }
  </form>
</section>
