<section class="feetback">
  <app-header></app-header>
  <h1>Отзыв о стажере</h1>
  <!-- имя стажера получить из таблицы стажеров -->
  <form [formGroup]="form">
    @if (role === 'Ментор') {
      <mat-form-field>
        <mat-label>Уровень требуемых знаний для стажировки</mat-label>
        <input matInput formControlName="fundamentalLevel" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Уровень знаний по направлению стажировки</mat-label>
        <input matInput formControlName="traineeLevel" />
      </mat-form-field>
    }

    @if (role === 'HR') {
      <mat-form-field>
        <mat-label>Уровень английского языка</mat-label>
        <input matInput formControlName="englishLevel" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Личные качества стажера</mat-label>
        <input matInput formControlName="personals" />
      </mat-form-field>
    }

    <mat-form-field>
      <mat-label>Дополнительные комментарии</mat-label>
      <textarea matInput formControlName="addComments"></textarea>
    </mat-form-field>

    <p class="forError">
      @if (form.invalid && form.dirty) {
        <mat-error>Должно быть заполнено минимум одно поле</mat-error>
      }
    </p>

    <div class="example-button-row">
      <button matButton="tonal" [disabled]="!form.valid" (click)="saveFeedback()">
        Сохранить отзыв
      </button>
    </div>
  </form>
</section>
