<section class="feetback">
  @if (isLoading()) {
    <app-loader></app-loader>
  }
  <app-header></app-header>
  <h1>Отзыв о стажере</h1>
  <!-- имя стажера получить из таблицы стажеров -->
  <form [formGroup]="form">
    @if (firstFeedback) {
      <!-- добавить роль 'Интервьюер' -->
      @if (role === 'Интервьюер') {
        <mat-form-field>
          <mat-label>Уровень требуемых знаний для стажировки</mat-label>
          <input matInput formControlName="fundamentalLevel" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Уровень знаний по направлению стажировки</mat-label>
          <input matInput formControlName="traineeLevel" />
        </mat-form-field>
      }

      @if (role === 'HR') {
        <mat-form-field>
          <mat-label>Уровень английского языка</mat-label>
          <input matInput formControlName="englishLevel" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Личные качества стажера</mat-label>
          <input matInput formControlName="personals" />
        </mat-form-field>
      }
    }

    @if (resultFeedback) {
      <!-- кто может оставлять итоговый отзыв -->
      @if (role === 'Ментор') {
        <mat-form-field>
          <mat-label>Итоговый уровень знаний по направлению</mat-label>
          <input matInput formControlName="finishLevel" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Период прохождения стажирвки </mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate placeholder="Начало стажировки" formControlName="dateStart" />
            <input matEndDate placeholder="Окончание стажировки" formControlName="dateFinish" />
          </mat-date-range-input>
          <mat-hint>MMMM DD, YYYY – MMMM DD, YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      }
    }

    <mat-form-field>
      <mat-label>Дополнительные комментарии</mat-label>
      <textarea matInput formControlName="addComments"></textarea>
    </mat-form-field>

    <p class="forError">
      @if (form.invalid && form.dirty) {
        <mat-error>Должно быть заполнено минимум одно поле</mat-error>
      }
    </p>

    <div class="example-button-row">
      <button matButton="tonal" [disabled]="!form.valid" (click)="saveFeedback()">
        Сохранить отзыв
      </button>
    </div>
  </form>
</section>
