<app-header></app-header>
<app-form-employee></app-form-employee>
    <!-- <form [formGroup]="formEdit">
        <div>
            <span>Имя сотрудника</span>
            <mat-form-field>
                <mat-label>Имя</mat-label>
                <input matInput formControlName="name">
                <mat-hint></mat-hint>
            </mat-form-field>
        </div>
        <div>
            <span>Фамилия сотрудника</span>
            <mat-form-field>
                <mat-label>Фамилия</mat-label>
                <input matInput formControlName="surname">
                <mat-hint></mat-hint>
            </mat-form-field>
        </div>
        <div>
            <span>Электронный адрес сотрудника </span>
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="pat@example.com"  required formControlName="email"/>
                        <mat-error></mat-error>
                </mat-form-field>
        </div>
        <div>
            <span>Логин сотрудника</span>
            <mat-form-field>
                <mat-label>Логин</mat-label>
                <input matInput formControlName="login">
                <mat-hint></mat-hint>
            </mat-form-field>
        </div>
        <div>
            <span>Пароль для сотрудника</span>
            <mat-form-field>
                <mat-label>Пароль</mat-label>
                <input matInput formControlName="password">
                <mat-hint></mat-hint>
            </mat-form-field>
        </div>
        <div>
            <span>Роль сотрудника</span>
            <mat-form-field>
                <mat-label>Роль</mat-label>
                <mat-select formControlName="role">
                    <mat-option value="Руководитель">Руководитель</mat-option>
                    <mat-option value="HR">HR</mat-option>
                    <mat-option value="Ментор">Ментор</mat-option>
                    <mat-option value="Руководитель стажировки">Руководитель стажировки</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <span>Направлние</span>
            <mat-form-field>
                <mat-label>Направление</mat-label>
                <mat-select formControlName="specialization">
                    <mat-option value="React">React</mat-option>
                    <mat-option value="Angular">Angular</mat-option>
                    <mat-option value="Python">Python</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="example-button-row">
            <button matButton="tonal" [disabled]="" (click)="saveChanges()">Сохранить изменения</button>
        </div>
    </form> -->

