.for_header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    cursor: pointer;
    width: 7%;
  }

  .for_nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1%;

    button {
      margin: 0 10px;
      background-color: var(--mat-button-tonal-container-color, var(--mat-sys-secondary-container));
    }
  }
}
