.forButton {
  display: flex;
  justify-content: flex-end;
  .button_add {
    margin-right: 1%;
    width: auto;
    min-height: 7vh;
    height: auto;
  }
}

table {
  width: 100%;

  .mdc-data-table__header-cell {
    width: 16%;
  }

  .forIcon {
    width: 8%;
  }

  .forButtonInTable {
    cursor: pointer;
    padding: 16px;
  }
}
