.main_pages {
  background-image: url('/assets/images/logo.svg');
  background-repeat: no-repeat;
  background-position-x: 170%;
  background-position-y: 70%;
  background-size: 60%;
  height: 100vh;

  .for_main_content {
    margin-top: 7%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 7%;

    p {
      width: 60%;
      font-size: 1.3rem;
    }

    button {
      width: 30%;
    }

    h3 {
      width: 70%;
    }
  }
}
