<form [formGroup]="form">
  <div>
    <span>Имя сотрудника</span>
    <mat-form-field>
      <mat-label>Имя</mat-label>
      <input matInput formControlName="name" />
      @if (form.controls['name'].hasError('required') && form.controls['name'].touched) {
        <mat-error>Обязательное поле</mat-error>
      } @else if (form.controls['name'].hasError('pattern') && form.controls['name'].touched) {
        <mat-error>Не должно содержать чисел</mat-error>
      } @else if (form.controls['name'].hasError('minlength') && form.controls['name'].touched) {
        <mat-error>Минимум два символа</mat-error>
      } @else if (form.controls['name'].hasError('maxlength') && form.controls['name'].touched) {
        <mat-error>Максимум 50 символов</mat-error>
      }
    </mat-form-field>
  </div>
  <div>
    <span>Фамилия сотрудника</span>
    <mat-form-field>
      <mat-label>Фамилия</mat-label>
      <input matInput formControlName="surname" />
      @if (form.controls['surname'].hasError('required') && form.controls['surname'].touched) {
        <mat-error>Обязательное поле</mat-error>
      } @else if (
        form.controls['surname'].hasError('pattern') && form.controls['surname'].touched
      ) {
        <mat-error>Не должно содержать чисел</mat-error>
      } @else if (
        form.controls['surname'].hasError('minlength') && form.controls['surname'].touched
      ) {
        <mat-error>Минимум два символа</mat-error>
      } @else if (
        form.controls['surname'].hasError('maxlength') && form.controls['surname'].touched
      ) {
        <mat-error>Максимум 50 символов</mat-error>
      }
    </mat-form-field>
  </div>
  <div>
    <span>Электронный адрес сотрудника </span>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput placeholder="pat@example.com" formControlName="email" />
      @if (form.controls['email'].invalid) {
        <mat-error>Должен содержать @el-pixel.com</mat-error>
      }
    </mat-form-field>
  </div>
  <div>
    <span>Логин сотрудника</span
    ><!--из емэйл!!!-->
    <mat-form-field>
      <mat-label>Логин</mat-label>
      <input matInput formControlName="login" />
      <mat-hint></mat-hint>
    </mat-form-field>
  </div>
  <div>
    <span>Пароль для сотрудника</span>
    <mat-form-field>
      <mat-label>Пароль</mat-label>
      <input matInput formControlName="password" />
      <mat-hint></mat-hint>
    </mat-form-field>
  </div>
  <div>
    <span>Роль сотрудника</span>
    <mat-form-field>
      <mat-label>Роль</mat-label>
      <mat-select formControlName="role">
        <mat-option value="Руководитель">Руководитель</mat-option>
        <mat-option value="HR">HR</mat-option>
        <mat-option value="Ментор">Ментор</mat-option>
        <mat-option value="Руководитель стажировки">Руководитель стажировки</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <span>Направлние</span>
    <mat-form-field>
      <mat-label>Направление</mat-label>
      <mat-select formControlName="specialization">
        <mat-option value="React">React</mat-option>
        <mat-option value="Angular">Angular</mat-option>
        <mat-option value="Python">Python</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  @if (!id) {
    <div class="example-button-row">
      <button matButton="tonal" [disabled]="form.invalid" (click)="addEmployee()">
        Добавить нового сотрудника
      </button>
    </div>
  } @else {
    <div class="example-button-row">
      <button matButton="tonal" [disabled]="form.invalid" (click)="saveChanges()">
        Сохранить изменения</button
      ><!--заменять! а не сохранять нового-->
    </div>
  }
</form>
